<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link rel="stylesheet" href="../Assets/demographic.css" type="text/css">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
   <body>
       <h1 class="title">Neighborhood Price Info</h1>
       <p>Here's your demographic data</p>
       <div id="demographicData">
           <h3>Total population:</h3>
           <p id="totalPopulation">loading...</p>
           
           <h3>Total households:</h3>
           <p id="totalHouseholds">loading...</p>
           
           <h3>Average home value:</h3>
           <p id="2022AverageHomeValue"> 2022 Average Home Value: 20</p>
           
           <h3>2017-2022 Growth/Yr: Population </h3>
           <p id ="2017_2022GrowthYrPopulation">loading...</p>
           
           <h3>2017-2022 Growth/Yr: Households</h3>
           <p id ="2017_2022GrowthYrHouseholds">loading...</p>
           
           <h3>2017 Diversity Index</h3>
           <p id = "2017DiversityIndex">loading...</p>
       </div>
       <script src="../Scripts/fetchDemoData.js"></script>
   </body>
</html>
