<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link rel="stylesheet" href="../Assets/index.css" type="text/css">
        <title>Neighborhood Demographic app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 class="title">Neighborhood Price Info</h1>
        <p style="text-align: center;"> Find if the place you are planning to move is to freaking <br>expensive.</p>
        <form>
          <a href="https://www.latlong.net/" target="_blank">Click here to find Latitude and Longitude!</a>    
          <br>
          <p2 style="font-weight: bold; color: white;">Enter your Longitude and Latitude to get started :)</p2>
          <br> <br>
          <input type="text" placeholder="Latitude" id="lat">
          <br>
          <input type="text" placeholder="Longitude" id="long">
          <br>
          <button class="button">Check Demographic Info</button>
        </form>
               
        <script src="../Scripts/getLocation.js"></script>
    </body>
</html>
