<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link rel="stylesheet" href="../Assets/index.css" type="text/css">
        <title>Neighborhood Demographics app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 id="title">Neighborhood Simulator</h1>
        <p> Welcome to Neighborhood Simulator.</p>
        <form>
          <p2>Enter your Longitude and Latitude to get started :)</p2>
          <input type="text" placeholder="latitude" id="lat">
          <input type="text" placeholder="longitude" id="long">
          <br>
          <button class="button">Check Demographic Info</button>
        <form>
        <script src="../Scripts/getLocation.js"></script>
    </body>
</html>
