body {
    animation-name: backgroundChangeColor;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    background-image: url("https://www.newyorkfed.org/medialibrary/media/images/v4/outreach_education/featured_panel/cra-illo-a.jpg");
    background-repeat: no-repeat;
    width: 1624px;
    height: 812px;
    background-size: 1624px 812px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

p {
    font-size: 50px;
    font-family: 'PT serif', arial, serif;
}

form
{
    background-color: #091356;
    opacity: 0.8;
    padding: 10px;
    width: 25%;
    margin: auto;
}

button {
    border: 2px groove black;
    background-color: rgb(0, 200, 200);
    color: white;
    padding: 10px 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    /*float: left;*/
    margin-top: 10px;
}

button:hover {
    background-color: rgb(3, 175, 175);
}

button:active {
    border: 3px groove black;
}

input {
    border: 1px solid black;
    opacity: 0.7;
    box-shadow: 10px 5px grey;
    background-color: rgb(220, 225, 237);
}

.title {
    border: 1px groove;
    text-align: center;
    box-shadow: 10px 5px grey;
    font-family: Ravie, 'PT Serif', arial, serif;
    background-color: #091356;
    height: 50px;
    opacity: 0.7;
    color: white;
}

@keyframes backgroundChangeColor {
    10% {
        background-image: url("https://www.newyorkfed.org/medialibrary/media/images/v4/outreach_education/featured_panel/cra-illo-a.jpg");
    }
    30% {
        background-image: url("https://static.wixstatic.com/media/9bf4ba_12673f0c06ca42d3acb8d40972b9c9c8.png");
    }    
    50% {
        background-image: url("https://static.wixstatic.com/media/9bf4ba_12673f0c06ca42d3acb8d40972b9c9c8.png");
    }
    70% {
        background-image: url("https://www.newyorkfed.org/medialibrary/media/images/v4/outreach_education/featured_panel/cra-illo-a.jpg");
    }
    to {
        background-image: url("https://www.newyorkfed.org/medialibrary/media/images/v4/outreach_education/featured_panel/cra-illo-a.jpg");
    }
}
